* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    background-image: url(../Img/Tribunal.png);
    background-repeat: no-repeat;
}

h2, h1, p {
    color: tan;
    text-shadow: 1px 1px black;
}

h1 {
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    margin: 2%;
}

img {
    height: 80px;
    width: 160px;
    margin-bottom: 3%;
    margin-left: 30%;
}

strong {
    text-shadow: 2px 1px 3px black;
}

form {
    width: 40%; 
    color: rgb(224, 25, 25); 
}

fieldset {
    backdrop-filter: blur(30px);
    padding: 5%;
    border-radius: 12px;
    margin-bottom: 3%;
    border: 3px solid burlywood;
}

textarea {
    margin-top: 2%;
    width: 100%;
    outline: none;
}

input, label, button {
    font-weight: bolder;
}

label, button {
    text-shadow: 1px 0px rgb(41, 41, 41);
}

input, button, select {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    outline: none;
}

input[type=checkbox] {
    width: 5%;
}

input[type="radio"] {
    width: 7%;
    margin-top: 5%;
}
input[type="radio"]:hover {
    cursor: pointer;
}

input[type="date"] {
    width: 25%;
}
input[type="date"]:hover {
    cursor: pointer;
}

input[type="file"]:hover {
    cursor: pointer;
}

label {
    text-shadow: 1px 1px 3px black;
}

label[for="Submit"] {
    font-size: 13px;
}

button {
    width: 50%;
    margin-left: 120px;
    padding: 1%;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}

button[type="reset"] {
    font-size: 12px;
    height: 23px;
    width: 28%;
    margin-left: 130pt;
    margin-top: -1%;
}

select {
    width: 50%;
    margin-bottom: 5%;
}