* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Animation {
    background-color: blue;
    width: 200pt;
    height: 130pt;
    color: whitesmoke;
    padding-top: 45pt;
    padding-left: 40px;
    text-shadow: 1px 1px 4px whitesmoke;
    position: relative;
    animation-name: At;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: ease-out;
}

@keyframes At {
    0% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 820pt;
        top: 0px;
        border-radius: 15px;
    }
    50% {
        background-color: pink;
        left: 820pt;
        top: 444px;
        border: 1px solid deeppink;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 444px;
        text-shadow: 1px 1px 10px lime;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
        box-shadow: 0;
        -moz-box-shadow: 0 3px 10px 0 crimson;
        -webkit-box-shadow: 0 3px 10px 0 crimson;
    }
}

#hover {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

#for_hover {
    padding: 10px;
    width: 100px;
    transition: 0.4s;
    cursor: pointer;
}
#for_hover:hover {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 4px whitesmoke;
    border-radius: 14px;
    border: 1px solid grey;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 whitesmoke;
    -webkit-box-shadow: 0 3px 10px 0 whitesmoke;
    transform: scale(1.5, 1.5);
}


#click {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#for_click {
    padding: 10px;
    width: 100px;
    transition: 0.1s linear;
    cursor: pointer;
}
#for_click:active {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 4px whitesmoke;
    border-radius: 14px;
    border: 1px solid grey;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 whitesmoke;
    -webkit-box-shadow: 0 3px 10px 0 whitesmoke;
    transform: scale(1.5, 1.5);
}