* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

::-webkit-scrollbar {display: none;}

body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

.hidden {display: none;}



header {background-image: linear-gradient(to right,#001c40 5%,#ff9001 50%,#ff7a01,#ff6800,#fb5705);}

.logo{ 
    width: 50%;
    height: 300px;
    margin: -5vh 0 -11px 25vw;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0;
    -moz-box-shadow: 2px 2px 5px black;
    -webkit-box-shadow: 2px 2px 5px black;
    margin: 8px;
    background-color: #001c40;
}

.cursor {cursor: pointer;}

img {margin-bottom: -4px;}

.shadow {
    width: 100%;
    height: 150px;
    max-width: 1000px;
    max-height: 350px;
    transition: 0.3s;
    cursor: pointer;
    border: 1.5px solid rgb(192, 192, 192);
}
.shadow:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03,1.03);
}

.showcase {
    width: 100%;
    height: 350px;
}

.demo {
    opacity: 0.6;
    width: 100%;
    height: 80px;
    max-width: 1000px;
    max-height: 350px;
    margin: 5px 0 0 18px;
    transition: 0.3s;
}
.active, .demo:hover {opacity: 1;}




.row>.column {
    padding: 10px 8px 10px 8px;
    margin: 10px 8px 10px 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 32%;
}


/* O Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 60px 0 48vh 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(to top left, black,rgb(14, 14, 14),rgb(37, 37, 37),rgb(75, 75, 75));
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* Botão de fechar */
.close {
    color: white;
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 30px;
    font-weight: bolder;
    transition: 0.2s;
}
.close:hover, .close:focus {
    color: #615858;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {display: none;}

/* Botões de Anterior e Próximo */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Posiciona o "botão de próximo" para a direita */
.next {right: 0; border-radius: 3px 0 0 3px;}

.prev:hover, .next:hover {
    background-image: linear-gradient(rgb(0, 0, 0, 0.8),rgb(14, 14, 14, 0.8),rgb(37, 37, 37, 0.8),
    rgb(75, 75, 75, 0.8));
}


/* Texto dos números (1/9) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 3px;
    left: 5px;
    cursor: default;
    text-shadow: 2px 3px 3px black;
}




/* Descrição das imagens */
.caption-container {
    font-weight: bolder;
    font-size: large;
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
    transition: 0.4s linear;
    margin-bottom: 2vh;
    cursor: default;
}

/*Botão de descrição*/
.icon-container {
    position: absolute;
    top: 12vh;
    right: 7vw;
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    color: whitesmoke;
    filter: drop-shadow(2px 4px 3px black);
}
.icon-container svg {width: 30px; height: 30px; color: white;}

#imageDescription {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-top: 6px;
    text-align: center;
}

.mic-container {
    position: absolute;
    top: 42vh;
    left: 50vw;
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    color: rgb(100, 100, 100);
}
.mic-container svg {width: 10px; height: 10px;}




footer {
    text-shadow: 1px 2px 2px darkblue;padding: 1vh 0 1vh;
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}