* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: background 6s ease-in-out 0s infinite;    
    background-color: grey;
}
@keyframes background {
    0% {background-color: grey;}
    40% {background-color: black;}
    75% {background-color: darkred;}
    100% {background-color: grey;}
}

a {text-decoration: none; color: rgb(131, 224, 255);}

img {
    max-width: 400px;
    max-height: 360px;
}

.hidden {display: none;}



header {
    border-bottom: 2px solid black;
    box-shadow: 0 4px 6px 0 red, 0 6px 18px 0 red;
    background-image: linear-gradient(to left,rgb(139, 0, 0, 0.5),rgb(223, 21, 21),rgb(139,0,0,0.5));
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px red;
    font-size: 50px;
}




main {height: 230vh;}

h4 {
    color: white;
    text-shadow: 1px 1px 2px red;
    font-size: 20px;
    margin: 12px 0 12px 0;
}

.info {width: 98%;}

.content {border-right: 8px solid red; border-radius: 0 12px 5% 0px; width: 98%;}

article, p { 
    color: white;
    font-size: 11.5px;
}

.price {
    color: crimson;
    text-shadow: 2px 1px 1px darkred;
    font-size: 18px;
    margin-bottom: -10px;
} 

.obs {
    width: 95%;
    color: white;
    text-shadow: 1px 1px 2px red;
    margin-bottom: 20px;
}

.material {
    width: 95%;
    margin: -12px;
    color: white;
    text-shadow: 1px 1px 2px red;
}

button {
    padding: 8px;
    margin: 35px 0 0px 22px;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: red;
    color: whitesmoke;
    text-shadow: 1px 1px 4px darkred;
    transform: scale(1.4);
    font-weight: bold;
}




.card {
    width: 92%;
    height: 400px;
    margin: 55px 40px 40px 60px;
    background-image: linear-gradient(to top right, red,rgb(36, 0, 0),black,rgb(36, 0, 0),red);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 red, 0 4px 4px 0 red;
}

.product {
    float: left;
    margin: 10px 8vw 0 3vw;
    transition: 0.3s;
    background-color: white;
    border-radius: 999px;
    width: 30%;
}
.product:hover {
    transform: scale(1.5);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}




footer {
    padding: 2vh 0 2vh;
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}