* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

a {text-decoration: none; color: rgb(131, 224, 255);}



#Animation {
    background-color: blue;
    width: 200pt;
    height: 115pt;
    color: whitesmoke;
    padding: 50px 50px 50px 45px;
    left: 5px;
    top: 5px;
    position: relative;
    cursor: pointer;
}
#Animation:active, #Animation.active {animation: movearound 8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1;}

.anime-click {
    text-align: center; font-family: 
    Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bolder;
    font-size: 14px;
    margin: 1vh 0 2px 0;
}

@keyframes movearound {
    3% {
        background-color: blue;
        left: 5px;
        top: 5px;
    }
    15% {
        background-color: yellow;
        left: 80vw;
        top: 5px;
        border-radius: 15px;
        text-shadow: 1px 1px 2px black;
        border: none;
    }
    35% {
        background-color: pink;
        left: 80vw;
        top: 74vh;
        border: 1px solid deeppink;
        text-shadow: none
    }
    65% {
        background-color: green;
        left: 5px;
        top: 68vh;
        text-shadow: 1px 1px 10px lime;
        box-shadow: none;
    }
    80% {
        background-color: red;
        left: 5px;
        top: 5px;
        box-shadow: 0 3px 10px 0 crimson, 0 3px 10px 0 crimson;
    }
}




.mouseAnimations {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
}

#forhover, #foractive, #forclick {
    padding: 10px;
    width: 100px;
    cursor: pointer;
    transition: 0.2s linear;
}

#forhover:hover, #forclick:active, #forclick.active, #foractive:active{
    background-image: linear-gradient(to bottom, grey 5%,black 50%, grey 95%);
    color: white;
    text-shadow: 1px 1px 4px whitesmoke;
    border-radius: 14px;
    border: 1px solid grey;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 whitesmoke;
    -webkit-box-shadow: 0 3px 10px 0 whitesmoke;
    transform: scale(1.5, 1.5);
}




footer {
    padding: 2vh 0 2vh;
    position: absolute;
    bottom: 0;
    border-radius: 0 8px 0 0;
    width: 20%;
    text-align: center;
    color: rgb(216, 245, 255);
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}