* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



body {font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: whitesmoke;}



h1 {
    text-align: center;
    margin: 4% 0 15vh 0;
    color: rgb(34, 34, 34);
    text-shadow: 1px 1px 20px grey;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

main {height: 120vh;}

ul {margin: 0 0 10% 6vw;}

li::before {
    content: '';
    font-size: 35px;
}

.ttl {
    font-size: 25px;
    margin: 0 0 5vh 6px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#tasks {
    float: left;
    width: 30%;
    margin-left: 15vw;
}

.feito {list-style-image: url(../Img/ok.png);}

.feito h3 {
    color: green;
    text-shadow: 2px 0px 1em greenyellow;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}


.toDo {list-style-type: square;}
.toDo ::marker {
    color: red;
    font-size: 30px;
}

.toDo h3 {
    color: crimson;
    text-shadow: 2px 0px 1em orangered;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}



#fun {
    float: right;
    width: 45%;
}

#fun h3 {
    color: rgb(34, 34, 34);
    text-shadow: 2px 0px 1em grey;
}

.jogos {list-style-type: decimal; cursor: pointer;}
.jogos ::marker {transition: 0.4s;}
.jogos:hover ::marker {
    font-size: 25px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px lightblue;
}


.filmes {list-style-type: upper-latin;}
.filmes ::marker {
    animation: colorful 7s linear 2s infinite;
    text-shadow: 1px 1px black;
    font-size: larger;
}

@keyframes colorful {
    2% {color: red;}
    5% {color: orange;}
    10% {color: yellow;}
    20% {color: greenyellow;}
    35% {color: green;}
    50% {color: cyan;}
    65% {color: blue;}
    80% {color: deeppink;}
    100% {color: black;}
}




footer {
    text-shadow: 1px 2px 2px darkblue;padding: 1vh 0 1vh;
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}